@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
root{
    --main-color:#0E0D0C;
    --secondary-color:#161718;
    --text:#B01403;
}
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
        
body{
    background-color: #0E0D0C;
    font-family: "Poppins";
}
nav a.brand{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-family: "Damion";
}

nav a.brand span{
    color: #B01403;
    padding-left: 10px;
}

nav a.brand{
    display: flex;
    align-items: center;
}

nav a.brand:hover{
    color: white;
}

nav .hamburger-menu{
    background-color: #fff;
}

.nav-link.active {
    color: crimson !important;
}

.nav-link {
    color: white !important;
    transition: color 0.3s;
    font-size: 22px;
    font-weight: 500;
}

.nav-link:hover {
    color: crimson !important;
}

.scrolled{
    background-color: #161718;
    border-bottom: 2px solid crimson;
}

.navbar.hamburger-open {
            background-color: black !important;
        }

.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 2;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-text h3 {
    margin: 0;
    font-size: 4rem;
    font-weight: 600;
}

.hero-text p {
    margin-top: 10px;
    font-size: 1.5rem;
}

section.about{
    background-color: #161718;
    padding-top: 10rem;
    overflow: hidden;
}

section.menu{
    padding-top: 10rem;
}

section.about .about-text{
    text-align: justify;
}

section.about .about-img{
    width: 300px;
    height: 300px;
}

section.about .about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer{
    background-color: #0E0D0C;
}

.icon-sosmed{
    width: 75px; 
    height: 75px; 
    background-color: crimson; 
    border-radius: 100%
}

.icon-sosmed svg{
    width: 45px;
    height: 45px;
}

.divider {
            width: 50%;
            height: 2px; 
            background-color: #ff0000; 
            margin: 20px 0; 
        }

.menu-image{
    /* width: 200px; */
    height:150px ;
}

.menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.map-container {
    position: relative;
    height: 300px;
    margin: auto;
    border: 1px solid #ddd;
}

.map-container iframe{
    width: 100%;
    height: 100%;
}

.map-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: rgba(207, 16, 16, 0.7);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    z-index: 100;
}

.map-container:hover .map-button {
    display: block;
}

.watermark{
    display: flex;
    background: crimson;
    align-items: center;
    justify-content: start;
    height: 3em;
}

.watermark p{
    color: white;
    padding-top: 10px;
}

section.reservasi{
    background-color: #161718;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.reservasi-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding-block: 1rem;
}

input#nama,input#hari,input#waktu{
    border: 2px solid crimson;
    padding-left: 1.5rem;
}

input#hari{
    width: 100%;
}

select{
    background-color: #0E0D0C;
    color: white;
    border: none;
    outline: none;
}

select#person,select#waktu{
    border: 2px solid crimson;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list_menu{
    display: none;
}
.swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

:root{
    --swiper-theme-color:crimson !important;
}

.kotak-menu {
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.kotak-menu .row {
  flex: 1;
  display: flex;
}

.kotak-menu .kiri {
  width: 100%; 
  height: 150px; 
}

.kotak-menu .kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.kotak-menu .kiri img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.typewriter{
    margin: auto;
    width: 600px;
}

.typewriter h3 {
    	
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  overflow: hidden; 
  border-right: .15em solid #B01403; 
  white-space: nowrap; 
  margin: 0 auto; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    color: #B01403;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #B01403; }
}

@media (max-width: 768px) {

    .hero-text h3{
        font-size: 36px;
    }

    .hero-text p{
        font-size: 18px;
    }

    section.about p,section.about h2{
        text-align: center;
    }

    footer.sosmed svg{
        width: 10px;
        height: 10px;
    }

    section.hero .hero-text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    

    .swiper{
        width: 400px;
        height: 300px;
    }

    .kotak-menu{
        width: 100%;
    }

    .kotak-menu .kanan{
        padding-left: 1em;
        width: 100%;
    }

    .kotak-menu .kiri{
        padding-right: 1rem;
    }

    section.about,section#menu{
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    select#person,select#waktu{
        padding-left: 1em;
}
    .typewriter{
        width: 320px;
    }

input#hari{
    width: 8rem;
    padding-inline: 0;
    padding-left: 1em;
}

nav{
    background-color: #161718;
    border-bottom: 2px solid crimson;
}

.icon-sosmed{
    width: 60px;
    height: 60px;
}

.icon-sosmed svg{
    width: 40px;
    height: 40px;
}
}