@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
root{
    --main-color:#0E0D0C;
    --secondary-color:#161718;
    --text:#B01403;
}
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-x:hidden; */
}
        
body{
    background-color: #0E0D0C;
    font-family: "Poppins";
}
nav a.brand{
    font-size: 2rem;
    color: white;
    font-weight: 600;
    font-family: "Damion";
}

nav a.brand span{
    color: #B01403;
    padding-left: 10px;
}

nav a.brand{
    display: flex;
    align-items: center;
}

nav a.brand:hover{
    color: white;
}

nav .hamburger-menu{
    background-color: #fff;
}

.nav-link{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover{
    color: #B01403;
}

.scrolled{
    background-color: #161718;
    border-bottom: 2px solid crimson;
}

.hamburger-open {
    background-color: #161718;
}

section{
    padding-top: 4rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Menyesuaikan tinggi gambar agar memenuhi tinggi viewport */
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Warna hitam transparan */
    z-index: 2;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero-text h3 {
    margin: 0;
    font-size: 36px;
}

.hero-text p {
    margin-top: 10px;
    font-size: 18px;
}

section.about{
    background-color: #161718;
    padding-top: 10rem;
    overflow: hidden;
}

section.menu{
    padding-top: 10rem;
}

section.about .about-text{
    text-align: justify;
}

section.about .about-img{
    width: 300px;
    height: 300px;
}

section.about .about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer{
    background-color: #161718;
}

.divider {
            width: 50%;
            height: 2px; /* Ketebalan garis */
            background-color: #ff0000; /* Warna garis */
            margin: 20px 0; /* Jarak atas dan bawah garis */
        }

.menu-image{
    /* width: 200px; */
    height:150px ;
}

.menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.map-container {
    position: relative;
    height: 300px;
    margin: auto;
    border: 1px solid #ddd;
}

.map-container iframe{
    width: 100%;
    height: 100%;
}

.map-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: rgba(207, 16, 16, 0.7);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    z-index: 100;
}

.map-container:hover .map-button {
    display: block;
}

.watermark{
    display: flex;
    background: crimson;
    align-items: center;
    justify-content: start;
    height: 3em;
}

.watermark p{
    color: white;
    padding-top: 10px;
}

.reservasi-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding-block: 1rem;
}

input#nama,input#hari,input#waktu{
    border: 2px solid crimson;
    padding-left: 1.5rem;
}

input#hari{
    width: 100%;
}

select{
    background-color: #0E0D0C;
    color: white;
    border: none;
    outline: none;
}

select#person,select#waktu{
    border: 2px solid crimson;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.list_menu{
    display: none;
}
.swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}

:root{
    --swiper-theme-color:crimson !important;
}

.kotak-menu {
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.kotak-menu .row {
  flex: 1;
  display: flex;
}

.kotak-menu .kiri {
  width: 100%; /* Isi penuh kolom kiri */
  height: 150px; /* Tinggi tetap untuk gambar */
}

.kotak-menu .kanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 15px; */
  color: white;
}

.kotak-menu .kiri img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
    section.about p,section.about h2{
        text-align: center;
    }

    footer.sosmed svg{
        width: 20px;
        height: 20px;
    }

    section.hero .hero-text{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .swiper{
        width: 400px;
        height: 300px;
    }

    .kotak-menu{
        width: 100%;
    }

    .kotak-menu .kanan{
        padding-left: 1em;
        width: 100%;
    }

    .kotak-menu .kiri{
        padding-right: 1rem;
    }

    section.about,section.menu{
        padding-top: 6rem;
    }

    select#person,select#waktu{
        padding-left: 1em;
}

    /* input#hari,input#waktu{
    padding-left: 0;
} */

input#hari{
    width: 8rem;
    /* background-color: #ff0000; */
    padding-inline: 0;
    padding-left: 1em;
}
}
